APP__SERVER__HOST=0.0.0.0
APP__SERVER__PORT=8080

APP__BACKEND__BASE_URL=http://localhost:8080
APP__FRONTEND__BASE_URL=http://localhost:3000

APP__DATABASE__URL=postgres://tg_user:tg_password@localhost:5434/truegather
DATABASE_URL=postgres://tg_user:tg_password@localhost:5434/truegather
APP__REDIS__URL=redis://localhost:6379

APP__KEYCLOAK__ISSUER_URL=http://localhost:8081/realms/truegather
APP__KEYCLOAK__ISSUER_URL_INTERNAL=http://localhost:8081/realms/truegather
APP__KEYCLOAK__ISSUER_URL_PUBLIC=http://localhost:8081/realms/truegather
APP__KEYCLOAK__CLIENT_ID=truegather-backend
APP__KEYCLOAK__CLIENT_SECRET=change_me

APP__AUTH__COOKIE_NAME=tg_session
APP__AUTH__COOKIE_SECURE=false

APP__MAIL__BREVO_API_KEY=change_me

POSTGRES_USER=tg_user
POSTGRES_PASSWORD=tg_password
POSTGRES_DB=truegather

PGADMIN_DEFAULT_EMAIL=admin@truegather.com
PGADMIN_DEFAULT_PASSWORD=admin123

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_ADMIN_PASSWORD=change_me
KC_HOSTNAME=localhost
KC_ISSUER_URL_PUBLIC=http://localhost:8081/realms/truegather

DOCKERHUB_USERNAME=change_me
BACKEND_BASE_URL=http://localhost:8080
FRONTEND_BASE_URL=http://localhost:3000

RUST_LOG=info,truegather_backend=debug,tower_http=info
